## Importing Libraries

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df1 = pd.read_csv('Train_Batch_1.csv', index_col = 0)
df2 = pd.read_csv('Train_Batch_2.csv', index_col = 0)
df3 = pd.read_csv('Train_Batch_3.csv', index_col = 0)

# Features in test data
- **Person Description**: Description of the person visiting the market
- **Place Code**: Code for each place which consists of 2 city codes parts separated by "_"
- **Customer Order**: information about the customer's order, including the type of product ordered and the brand.
- **Additional Features in market**: A list of features that are found in the market.
- **Promotion Name**: name of any promotion that was applied to the customer's purchase.
- **Store Kind**: kind of store where the customer made their purchase.
- **Store Sales**: The amount of money spent on sales that have been made since the store first opened..
- **Store Cost**: Cost of the Store.
- **Gross Weight**: the gross weight of the product in kilograms(Bought item weight).
- **Net Weight**: the net weight of the product in kilograms(Bought item weight without the package).
- **Package Weight**: the weight of the package in kilograms(Weight of the Package).
- **Is Recyclable?**: indicates whether or not the product is recyclable.
- **Yearly Income**: contains information about the yearly income of the person.
- **Store Area**: contains information about the area of the store in square feet.
- **Grocery Area**: Area of grocery department in the store.
- **Frozen Area**: contains information about the area of the frozen food section of the store in square feet.
- **Meat Area**: contains information about the area of the meat section of the store in square feet.
- **Cost**: The target value (the cost of order of the person).

<div style="padding:20px; border-radius:5px;">
    <h1 style="color:black; font-weight:bold; text-align:center;">Working On the First DF</h1>
</div>

In [3]:
df1.sample(3)

,Person Description,Place Code,Customer Order,Additional Features in market,Promotion Name,Store Kind,Store Sales,Store Cost,Product Weights Data in (KG),Is Recyclable?,Min. Yearly Income,Store Area,Grocery Area,Frozen Area,Meat Area,Cost
mc_ID_7513,"Married Female with No children, education: pa...",B14on_WA,"Candy from Snacks department, Ordered Brand : ...","['Ready Food', 'Bar For Salad']",Price Cutters,Supermarket,10.95 Millions,4.4895 Millions,"{'Gross Weight': 16.1349, 'Net Weight': 11.774...",non recyclable,10K+,3687.88,2265.03,855.22,568.75,761.0696
mc_ID_15484,"Single Female with four children, education: p...",S04ne_WA,"Vegetables from Produce department, Ordered Br...",NaN,Savings Galore,Supermarket,7.8 Millions,2.73 Millions,"{'Gross Weight': 11.7741, 'Net Weight': 8.8669...",recyclable,10K+,2813.78,2049.72,NaN,303.67,714.2611
mc_ID_17118,"Married Male with one child, education: gradua...",M10da_YU,"Canned Soup from Canned Foods department, Orde...","['Video Store', 'Florist', 'Coffee Bar', 'Read...",Money Savers,Deluxe,11.28 Millions,3.4968 Millions,"{'Gross Weight': 10.3496, 'Net Weight': 8.8815...",non recyclable,110K+,NaN,1871.16,593.93,396.41,343.6110

In [4]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 19440 entries, mc_ID_0 to mc_ID_19354
Data columns (total 16 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Person Description             19440 non-null  object
 1   Place Code                     19440 non-null  object
 2   Customer Order                 19440 non-null  object
 3   Additional Features in market  15140 non-null  object
 4   Promotion Name                 16530 non-null  object
 5   Store Kind                     16530 non-null  object
 6   Store Sales                    19440 non-null  object
 7   Store Cost                     19440 non-null  object
 8   Product Weights Data in (KG)   19440 non-null  object
 9   Is Recyclable?                 19440 non-null  object
 10  Min. Yearly Income             19437 non-null  object
 11  Store Area                     17483 non-null  object
 12  Grocery Area                   17460 non-null  object
 13  Frozen Area                    17506 non-null  float64
 14  Meat Area                      17492 non-null  object
 15  Cost                           19416 non-null  float64
dtypes: float64(2), object(14)
memory usage: 2.5+ MB

Trying to understand why areas are not float values !!

In [5]:
non_numeric_values = df1.loc[~pd.to_numeric(df1['Meat Area'], errors='coerce').notnull(), 'Meat Area'].unique()
print(non_numeric_values)

[nan '"221.15"']

In [6]:
non_numeric_values = df1.loc[~pd.to_numeric(df1['Grocery Area'], errors='coerce').notnull(), 'Grocery Area'].unique()
print(non_numeric_values)

[nan '"2049.72"' '"1525.28"' 'missing']

In [7]:
non_numeric_values = df1.loc[~pd.to_numeric(df1['Store Area'], errors='coerce').notnull(), 'Store Area'].unique()
print(non_numeric_values)

[nan 'missing']

Okay now we can fix these problems

In [8]:
def clean_column(df, col_name):
    df[col_name] = df[col_name].str.replace('"', '')
    df[col_name] = df[col_name].astype(float)
    return df

df1 = df1.replace('missing', np.nan)

In [9]:
df1 = clean_column(df1.copy(), 'Meat Area')
df1 = clean_column(df1.copy(), 'Grocery Area')
df1 = clean_column(df1.copy(), 'Store Area')

In [10]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 19440 entries, mc_ID_0 to mc_ID_19354
Data columns (total 16 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Person Description             19440 non-null  object
 1   Place Code                     19440 non-null  object
 2   Customer Order                 19440 non-null  object
 3   Additional Features in market  15140 non-null  object
 4   Promotion Name                 16530 non-null  object
 5   Store Kind                     16530 non-null  object
 6   Store Sales                    19440 non-null  object
 7   Store Cost                     19440 non-null  object
 8   Product Weights Data in (KG)   19440 non-null  object
 9   Is Recyclable?                 19440 non-null  object
 10  Min. Yearly Income             19437 non-null  object
 11  Store Area                     17482 non-null  float64
 12  Grocery Area                   17459 non-null  float64
 13  Frozen Area                    17506 non-null  float64
 14  Meat Area                      17492 non-null  float64
 15  Cost                           19416 non-null  float64
dtypes: float64(5), object(11)
memory usage: 2.5+ MB

now it's time to break the product weights into the gross , net , package weights

In [11]:
for key in ['Gross Weight', 'Net Weight', 'Package Weight']:
    df1[key] = [eval(x)[key] for x in df1['Product Weights Data in (KG)'].values]

df1 = df1.drop('Product Weights Data in (KG)', axis=1)
df1.head(2)

,Person Description,Place Code,Customer Order,Additional Features in market,Promotion Name,Store Kind,Store Sales,Store Cost,Is Recyclable?,Min. Yearly Income,Store Area,Grocery Area,Frozen Area,Meat Area,Cost,Gross Weight,Net Weight,Package Weight
mc_ID_0,"Single Female with four children, education: b...",H11go_ZA,"Cleaning Supplies from Household department, O...","['Video Store', 'Florist', 'Ready Food', 'Coff...",Dimes Off,Deluxe,8.76 Millions,4.2924 Millions,recyclable,10K+,2842.23,2037.64,481.98,323.0,602.7575,28.1997,26.6008,1.599
mc_ID_1,"Single Female with three children, education: ...",S04ne_WA,"Snack Foods from Snack Foods department, Order...",NaN,Budget Bargains,Supermarket,6.36 Millions,1.9716 Millions,non recyclable,50K+,2814.95,2049.72,457.36,NaN,708.6650,16.5710,14.9720,1.599

Now it's time for min yearly income

In [12]:
df1 = df1.rename(columns={'Min. Yearly Income': 'Yearly_Income'})
df1['Yearly_Income'].unique()

array(['10K+', '50K+', '30K+', '130K+', '70K+', '110K+', '90K+', '150K+',
       nan], dtype=object)

Let's chech Store sales , Store cost and Store Kind

In [13]:
df_test = pd.read_csv('Train_Batch_1.csv', index_col = 0)

parts = df_test['Store Cost'].str.split(expand=True)
print(parts[1].unique())

['Millions']

In [14]:
parts = df_test['Store Sales'].str.split(expand=True)
print(parts[1].unique())

['Millions']

In [15]:
df1['Store Kind'].unique()

array(['Deluxe', 'Supermarket', nan, 'Gourmet', 'Mid-Size',
       'Small Grocery'], dtype=object)

After Checking other columns I found to keep them now as they are fine to be merged then we can handle them properly

After taking some samples I descovered diff suffix like M and illions and so on so I decided to union them all with one suffix and it will be M

<div style="padding:20px; border-radius:5px;">
    <h1 style="color:black; font-weight:bold; text-align:center;">Working On the 2nd DF</h1>
</div>

In [16]:
df2.sample(3)

,Person Description,Place Code,Customer Order,Additional Features in market,Promotion Name,Store Kind,Store Sales,Store Cost,Gross Weight,Net Weight,Is Recyclable?,Min. Person Yearly Income,Store Area,Grocery Area,Frozen Area,Meat Area,Cost
mc_ID_10052,"Married Female with two children, education: b...",B06ls_CA,"Vegetables from Produce department, Ordered Br...","['Coffee Bar', 'Ready Food', 'Video Store', 'F...",One Day Sale,Gourmet,9.51 M,4.4697 M,29.2172,26.3100,yes,70K+,2199.38,1425.72,465.54,310.30,449.1524
mc_ID_7612,"Married Female with two children, education: p...",B08am_WA,"Vegetables from Produce department, Ordered Br...",['Coffee Bar'],Two Day Sale,Small Grocery,1.45 M,0.58 M,20.7864,16.4256,yes,130K+,2625.20,NaN,330.83,220.55,389.6350
mc_ID_17,"Married Male with five children, education: hi...",L05es_CA,"Canned Clams from Canned Foods department, Ord...",['Florist'],Roller Savings (High),Supermarket,11.55 M,4.158 M,29.6533,25.1472,yes,30K+,2191.23,1320.15,523.32,347.34,532.6232

In [17]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 12956 entries, mc_ID_0 to mc_ID_12955
Data columns (total 17 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Person Description             12956 non-null  object
 1   Place Code                     12956 non-null  object
 2   Customer Order                 12954 non-null  object
 3   Additional Features in market  12956 non-null  object
 4   Promotion Name                 11665 non-null  object
 5   Store Kind                     11683 non-null  object
 6   Store Sales                    12955 non-null  object
 7   Store Cost                     12956 non-null  object
 8   Gross Weight                   11014 non-null  float64
 9   Net Weight                     11018 non-null  float64
 10  Is Recyclable?                 12956 non-null  object
 11  Min. Person Yearly Income      12952 non-null  object
 12  Store Area                     11663 non-null  float64
 13  Grocery Area                   11658 non-null  float64
 14  Frozen Area                    11657 non-null  object
 15  Meat Area                      11688 non-null  float64
 16  Cost                           12953 non-null  float64
dtypes: float64(6), object(11)
memory usage: 1.8+ MB

Fixing Frozen Area

In [18]:
non_numeric_values = df2.loc[~pd.to_numeric(df2['Frozen Area'], errors='coerce').notnull(), 'Frozen Area'].unique()
print(non_numeric_values)

[nan '503.07.' '""']

In [19]:
df2['Frozen Area'] = df2['Frozen Area'].str.replace('"', '')
df2['Frozen Area'] = df2['Frozen Area'].str.rstrip('.')
df2['Frozen Area'] = pd.to_numeric(df2['Frozen Area'], errors='coerce')
df2['Frozen Area'] = df2['Frozen Area'].astype(float)

Adding package weights

In [20]:
df2['Package Weight'] = df2['Gross Weight'] - df2['Net Weight']

Checking on yearly income

In [21]:
df2 = df2.rename(columns={'Min. Person Yearly Income': 'Yearly_Income'})
df2['Yearly_Income'].unique()

array(['30K+', '10K+', '50K+', '90K+', '110K+', '150K+', '70K+', '130K+',
       '130K+.', nan], dtype=object)

130K.  !!??

In [22]:
df2['Yearly_Income'].replace({"130K+." : "130K+"}, inplace = True)
df2['Yearly_Income'].unique()

array(['30K+', '10K+', '50K+', '90K+', '110K+', '150K+', '70K+', '130K+',
       nan], dtype=object)

Checking Store Sales , Store Cost, Store Kind

In [23]:
df_test = pd.read_csv('Train_Batch_2.csv', index_col = 0)

parts = df_test['Store Cost'].str.split(expand=True)
print(parts[1].unique())

['M']

In [24]:
parts = df_test['Store Sales'].str.split(expand=True)
print(parts[1].unique())

['M' 'Millions' nan]

In [25]:
col = ['Store Sales','Store Cost']
df2[col] = df2[col].replace({'M': 'Millions'}, regex=True)

In [26]:
df2.head(2)

,Person Description,Place Code,Customer Order,Additional Features in market,Promotion Name,Store Kind,Store Sales,Store Cost,Gross Weight,Net Weight,Is Recyclable?,Yearly_Income,Store Area,Grocery Area,Frozen Area,Meat Area,Cost,Package Weight
mc_ID_0,"Single Male with two children, education: high...",S01em_OR,"Baking Goods from Baking Goods department, Ord...","['Video Store', 'Florist', 'Ready Food', 'Bar ...",Tip Top Savings,Deluxe,3.28 Millions,0.984 Millions,21.9493,19.0421,yes,30K+,2577.50,1734.50,503.07,335.38,287.1270,2.9072
mc_ID_1,"Married Male with four children, education: hi...",T02ma_WA,"Canned Sardines from Canned Foods department, ...","['Florist', 'Bar For Salad', 'Ready Food', 'Co...",Discount Frenzy,Deluxe,9.35 Millions,4.2075 Millions,19.1874,16.1349,yes,30K+,3145.51,2057.74,654.13,NaN,779.6884,3.0525

<div style="padding:20px; border-radius:5px;">
    <h1 style="color:black; font-weight:bold; text-align:center;">Working On the 3rd DF</h1>
</div>

In [27]:
df3.sample(2)

,Person%20Description,Place%20Code,Customer%20Order,Additional%20Features%20in%20market,Promotion%20Name,Store%20Kind,Store%20Sales,Store%20Cost,Gross%20Weight,Net%20Weight,Weights%20Data,Is%20Recyclable?,Yearly%20Income,Store%20Area,Grocery%20Area,Frozen%20Area,Meat%20Area,Cost
mc_ID_2395,"Married Male with one child, education: partia...",S04ne_WA,"Vegetables from Produce department, Ordered Br...",[],Wallet Savers,Supermarket,7.2 Millions,3.312 Millions,10.2624,7.3406,"{'Gross Weight': 10.2624, 'Net Weight': 7.3406...",yes,30K+,2810.69,NaN,457.36,304.91,418.1385
mc_ID_2901,"Single Female with five children, education: h...",B06ls_CA,"Frozen Desserts from Frozen Foods department, ...","['Bar For Salad', 'Ready Food', 'Florist', 'Vi...",Two Day Sale,NaN,2.52 Millions,0.9576 Millions,27.7636,NaN,"{'Gross Weight': 27.7636, 'Net Weight': 23.402...",no,30K+,NaN,1424.85,465.54,309.10,663.5824

Getting packages weights with renaming the columns

In [28]:
df3['Package Weight'] = [eval(x)['Package Weight'] for x in df3['Weights%20Data'].values]
df3 = df3.drop('Weights%20Data', axis=1)
df3.columns = df3.columns.str.replace('%20', ' ')

In [29]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6466 entries, mc_ID_0 to mc_ID_6465
Data columns (total 18 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Person Description             6466 non-null   object
 1   Place Code                     6466 non-null   object
 2   Customer Order                 6466 non-null   object
 3   Additional Features in market  6466 non-null   object
 4   Promotion Name                 4839 non-null   object
 5   Store Kind                     4840 non-null   object
 6   Store Sales                    6452 non-null   object
 7   Store Cost                     6459 non-null   object
 8   Gross Weight                   5491 non-null   float64
 9   Net Weight                     5511 non-null   float64
 10  Is Recyclable?                 6464 non-null   object
 11  Yearly Income                  6465 non-null   object
 12  Store Area                     6151 non-null   float64
 13  Grocery Area                   6138 non-null   float64
 14  Frozen Area                    6147 non-null   float64
 15  Meat Area                      6133 non-null   float64
 16  Cost                           6462 non-null   float64
 17  Package Weight                 6466 non-null   float64
dtypes: float64(8), object(10)
memory usage: 959.8+ KB

Yearly_Income

In [30]:
df3 = df3.rename(columns={'Yearly Income': 'Yearly_Income'})
df3['Yearly_Income'].unique()

array(['90K+', '30K+', '10K+', '110K+', '70K+', '50K+', '130K+', '150K+',
       nan], dtype=object)

Checking Store Sales , Store Cost, Store Kind

In [31]:
df_test = pd.read_csv('Train_Batch_3.csv', index_col = 0)

parts = df_test['Store%20Cost'].str.split(expand=True)
print(parts[1].unique())

['Millions' nan]

In [32]:
parts = df_test['Store%20Sales'].str.split(expand=True)
print(parts[1].unique())

['Millions' nan]

In [33]:
df3['Store Kind'].unique()

array(['Deluxe', nan, 'Supermarket', 'Small Grocery', 'Mid-Size',
       'Gourmet'], dtype=object)

In [34]:
df3.head(2)

,Person Description,Place Code,Customer Order,Additional Features in market,Promotion Name,Store Kind,Store Sales,Store Cost,Gross Weight,Net Weight,Is Recyclable?,Yearly_Income,Store Area,Grocery Area,Frozen Area,Meat Area,Cost,Package Weight
mc_ID_0,"Single Female with two children, education: pa...",T02ma_WA,"Meat from Deli department, Ordered Brand : Red...","['Coffee Bar', 'Florist', 'Ready Food', 'Bar F...",Sale : Double Down,Deluxe,7.12 Millions,2.5632 Millions,23.2575,20.3503,yes,90K+,3145.51,2056.79,654.13,436.09,500.7202,2.9072
mc_ID_1,"Single Female with five children, education: p...",M10da_YU,"Specialty from Produce department, Ordered Bra...","['Coffee Bar', 'Florist', 'Bar For Salad', 'Vi...",GLD,Deluxe,14.72 Millions,7.0656 Millions,16.7163,12.3555,yes,30K+,2856.68,1871.16,595.93,395.51,484.1411,4.3608

<div style="padding:20px; border-radius:5px;">
    <h1 style="color:black; font-weight:bold; text-align:center;">Merging Data</h1>
</div>

In [35]:
df = pd.concat([df1, df2, df3], ignore_index=True)

In [36]:
df.head(1)

,Person Description,Place Code,Customer Order,Additional Features in market,Promotion Name,Store Kind,Store Sales,Store Cost,Is Recyclable?,Yearly_Income,Store Area,Grocery Area,Frozen Area,Meat Area,Cost,Gross Weight,Net Weight,Package Weight
0,"Single Female with four children, education: b...",H11go_ZA,"Cleaning Supplies from Household department, O...","['Video Store', 'Florist', 'Ready Food', 'Coff...",Dimes Off,Deluxe,8.76 Millions,4.2924 Millions,recyclable,10K+,2842.23,2037.64,481.98,323.0,602.7575,28.1997,26.6008,1.599

In [37]:
df.to_csv('merged.csv', index=False)